export LOG_LEVEL='INFO'  # DEBUG, INFO, WARNING, ERROR, CRITICAL
export APPLICATION_THEME='Basic'  # Basic, Fusion, Imagine, Material
export DATABASE_URI='mongodb://localhost:27017/'
export DATABASE_NAME='database'
export DATABASE_ECHO=false
